.App {
    background-color: #282c34;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mapWrapper{
    height: 100%;
    width: 100vh
}

.formWrapper {
    border: 2px solid white;
    border-radius: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 15px;

}

.formName {
    text-align: center;
    margin: 0 10px 10px 10px;
}

.formCountry {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.formCountry input {
    margin: 8px;
    padding: 7px;
}

.formCity {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.formCity input {
    margin: 8px;
    padding: 7px;
}

.btnFormSearch {
    position: relative;
    left: 50%;
    background-color: white;
    color: #282c34;
    border-radius: 10px;
    font-size: 20px;
}

.formCity input {
    margin: 8px;
    padding: 7px;
}

.error {
    border-color: red;
    color: red;
}

